body {
  width: 373px;
}

header {
  display: flex;
  column-gap: 6px;
  padding: 12px;
  padding-left: 20px;
  border: 1px solid #e7e7e8;
  box-sizing: border-box;
  height: 45px;
}

.title-icon {
  width: 20px;
  height: 20px;
  background-color: #696969;
  border-radius: 10px;
}

.title {
  color: #383838;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.02em;
}

.color-picker-body {
  box-sizing: border-box;
  border: 1px solid #e7e7e8;
  border-top: none;
  padding: 16px;
}

.color-picker-btn {
  display: flex;
  column-gap: 10px;
}

.current-color-bar {
  flex-grow: 1;
  border: 1px solid #e7e7e8;
  box-sizing: border-box;
  border-radius: 4px;
}

.picker-btn {
  color: orange;
}

.color-list {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-top: 8px;
}

select[name="color-list--selector"] {
  width: 100px;
  height: 40px;
}

.color-list--code {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding-inline: 12px;
  border-radius: 4px;
  background-color: #f3f3f4;
}

.color-list--code-name {
  font-size: 14px;
}

.icon-copy {
  cursor: pointer;
}
