@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .select-rect {
    @apply flex justify-between items-center p-[12px] w-[100px] h-[40px] bg-gray-bg border-gray-bg border-[1px];
  }
}

body {
  width: 373px;
}

button {
  all: unset;
  line-height: 0;
}
